*{
    padding: 0;
    margin: 0;
}
.navbar{
    box-shadow: 0px 3px 10px rgb(133, 27, 110);
}

.logo{
    width: 80px;
    height: auto;
}

#s1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 20px 0px 20px;
}

.wrap-slider{
    width: 1000px;
    height: auto;
    box-shadow: 0px 3px 10px rgb(87, 39, 63);
    border-radius: 20px;
}
.carousel-inner{
    border-radius: 20px !important;
}
#s2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 20px 0px 20px;
    border-radius: 20px !important;
}